
body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


.header-nav-palette{
    @include header-nav-palette();
    padding-bottom: 10px;
    justify-self: center;

    .header-nav-arrow{
        @include header-nav-arrow();
        width: 10%;
       

    }
}


.restaurant-menues{
    border-radius: 35px;
    background-color: $quinary-color;
    position: relative;
    top: -35px;
    
    @media (min-width: 768px){
        display:flex;
        flex-direction: column;
        width: 70%;
        justify-self: center;
        
    }
   

}


.logo-container{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}

.index-logo-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    

.hero-picture{

  
    img{
    width: 100%;
    height: 250px;
    object-fit: cover;

    
    @media (min-width: 768px){
        height: 500px;
        object-fit: cover;
    }
   }
}

.restaurant-name{
    @include logo();
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    margin-top: 0px;
    padding-top: 35px;

    
    @media (min-width: 768px){
        justify-content: center;
    }


    i{
        font-size: 35px;
        padding-left: 35px;
        
       
    }
              
    
    

}

.menu-titre {
   
 a{
    text-decoration:none;
    color: black;

    
 }
}

.text-entree{
    
    @media (min-width: 768px){
       justify-content:center;
       width: 60%;
    }

    display: flex;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 25px;
    margin-bottom: 5px;

    h3{
        border-bottom: solid rgb(17, 207, 166);
        width: 45px;

        
    @media (min-width: 768px){
        justify-self: start;
    }

    }
   
}



.menu-titre{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}


.menu-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:25px;
}

.menu-item{
    
    @media (min-width: 768px){
        width: 60%;
    }

    display: flex;
    justify-self: center;
    flex-direction: row;
    margin-bottom: 15px;
    width: 87%;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px -10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px 0px 20px 20px;

    h2{
        font-size: 19px;
        font-weight: bold;
    }

    p{
        font-size: 15px;
        padding-right: 10px;
    }

    .menu-item-text{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .menu-price{
        display: flex;
        justify-content: flex-end;
        width: 10%;
        align-items: end;
        font-size: 22px;
        font-weight: 600;

    }

}

.hero .button-primary{
   
    
    @media (min-width: 768px){
        
    }
   
}

@keyframes expandAndFade {
    0% {
    max-height: 0;
     opacity: 0;
    }
    100% {
      max-height:400px;
      opacity: 1;
    }
  }

  .entree,
  .menu,
  .dessert {
    max-height: 0;
    opacity: 0;
          /* Important pour masquer le contenu quand max-height est 0 */
   /* Juste pour visualiser la zone */
    padding: 10px;
  }

  .entree {
    animation: expandAndFade 2s ease forwards;
    animation-delay: 0s;  
  }
  .menu {
    animation: expandAndFade 2s ease forwards;
    animation-delay: 2s;  
  }
  .dessert {
    animation: expandAndFade 2s ease forwards;
    animation-delay: 4s;
  }
